.main-cover {
	background-image: url(../../assets/img/ingastin_cover.png);
}

@media (max-width: 425px) {
	.main-cover {
		min-height: 390px;
	}
}

.container {
	overflow: hidden;
}

.main-ingastin__title {
	position: relative;
	font-family: 'Geologica';
	font-size: 32px;
	font-weight: 700;
	line-height: 1.25;
	color: #ffffff;
	top: 131px;
	margin: 0;
	width: calc(100% - 140px);
}

@media (max-width: 1440px) {
	.main-ingastin__title {
		left: 140px;
	}
}

@media (max-width: 585px) {
	.main-ingastin__title {
		left: 80px;
	}
}

@media (max-width: 500px) {
	.main-ingastin__title {
		font-size: 24px;
		top: 80px;
		left: 60px;
	}
}

@media (max-width: 380px) {
	.main-ingastin__title {
		top: 60px;
	}
}

.title-date {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-family: 'Source Sans 3';
	font-size: 18px;
	font-weight: 700;
	color: #ff781f;
	width: 126px;
	height: 35px;
	margin-top: 20px;
	background-color: #1d1934;
}

.title-date::before {
	content: url(../../assets/img/timer.svg);
	padding-top: 3px;
}

@media (max-width: 768px) {
	.main-links {
		margin-left: 18%;
	}
}

.main-about {
	margin: 0;
}

.main-about__content {
	display: flex;
	gap: 40px;
}

@media (max-width: 500px) {
	.main-links__container {
		justify-content: start;
	}
}

.main-about__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 0 200px;
	gap: 40px;
}

@media (max-width: 810px) {
	.main-about__content {
		gap: 20px;
	}
}

.main-about__gallery {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin: 0;
}

.main-about__gallery-main {
	width: 100%;
	height: 480px;
	margin: 0;
	border-left: 2px solid #4f538c;
}

.main-about__gallery-main.full-image {
	display: flex;
	position: fixed;
	left: 0;
	top: 20%;
	justify-content: center;
	width: 100%;
	z-index: 10;
	margin: 0;
}

@media (max-width: 938px) {
	.main-about__gallery-main {
		height: 53vw;
	}
}

.main-about__gallery-main.full-image .gallery-main__img {
	margin: 0;
}

.main-about__gallery-main.full-image .gallery-main__img img {
	height: 200%;
}

.gallery-main__img img {
	width: 100%;
	height: 100%;
}

.main-about__gallery-list {
	display: flex;
	margin: 0;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 20px;
}

.main-about__gallery-item {
	width: 120px;
	height: 60px;
	cursor: pointer;
	border-left: none !important;
}

.gallery-img img {
	width: 100%;
	height: 100%;
}

.main-about__title {
	font-family: 'Source Sans 3';
	font-size: 20px;
	font-weight: 700;
	color: #332e59;
	line-height: 1.5;
}

.main-about__text {
	font-family: 'Source Sans 3';
	font-size: 20px;
	font-weight: 400;
	color: #2f2f47;
	line-height: 1.5;
}

.main-about__text b {
	font-weight: 700;
	color: #2d97c1;
}

.main-about__text span {
	display: block;
	margin: 2em 0;
}

.main-about__buttons {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	margin: 20px 0 0;
}

@media (max-width: 630px) {
	.main-about__buttons {
		flex-direction: column-reverse;
		gap: 100px;
	}
}

.main-action__row {
	flex-direction: row;
}

@media (max-width: 880px) {
	.main-action__row {
		flex-direction: column;
	}
}

.main-about__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Source Sans 3';
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	background-color: #2d97c1;
	width: 330px;
	height: 40px;
	border: none;
	outline: none;
	margin-left: 0;
	transition: background-color 0.5s ease;
}

@media (max-width: 425px) {
	.main-about__btn {
		width: 100%;
	}
}

.main-about__btn::before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	border-color: #ffffff;
	border-bottom: 4px solid #ffffff;
	border-left: 4px solid #ffffff;
	margin: 0 5px;
	transform: rotate(45deg);
}

.main-about__btn:hover {
	background-color: #1f7aab;
}

.background-logo__career-item {
	top: -560px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
	bottom: 0;
	margin: 0;
	background: inherit;
}

@media (max-width: 768px) {
	.background-logo__career-item {
		top: -970px;
	}
}

@media (max-width: 550px) {
	.background-logo__career-item {
		width: 80%;
	}
}

.background-figure__career--first-item {
	top: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0;
	background: inherit;
	z-index: -1;
}

@media (max-width: 768px) {
	.background-figure__career--first-item {
		top: -970px;
	}
}

@media (max-width: 550px) {
	.background-figure__career--first-item {
		top: -1230px;
	}
}

.background-gradient {
	position: absolute;
	width: 2012px;
	height: 3012px;
	top: -2000px;
	left: -952px;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(116, 129, 191, 0.3) 0%,
		rgba(116, 129, 191, 0) 100%
	);
}
