.main-cover {
	background-image: url(../../assets/img/servicesFooter.png);
}

.main-news__title {
	position: relative;
	font-family: 'Geologica';
	font-size: 80px;
	font-weight: 500;
	color: #ffffff;
	height: 75px;
	top: 131px;
	margin: 0;
}

@media (max-width: 1440px) {
	.main-news__title {
		left: 140px;
	}
}

@media (max-width: 768px) {
	.main-news__title {
		font-size: 32px;
	}
}

@media (max-width: 680px) {
	.main-news__title {
		font-size: 6vw;
	}
}

@media (max-width: 585px) {
	.main-news__title {
		left: 80px;
		top: 80px;
	}
}

@media (max-width: 425px) {
	.main-news__title {
		font-size: 24px;
	}
}

@media (max-width: 425px) {
	.container-main {
		gap: 30px;
	}

	.main-cover {
		min-height: 290px;
	}
}

.main-news {
	display: flex;
	flex-direction: column;
	gap: 60px;
	max-width: 100%;
	margin: 50px 0 110px;
}

@media (max-width: 860px) {
	.main-news {
		margin: 0 0 110px;
	}
}

.main-news__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}

@media (max-width: 1024px) {
	.main-news__list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 768px) {
	.main-news__list {
		grid-gap: 20px;
	}
}

@media (max-width: 768px) {
	.main-news__list {
		grid-gap: 20px;
		grid-template-rows: repeat(5, 1fr);
	}
}

@media (max-width: 550px) {
	.main-news__list {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 40px;
	}
}

.main-news__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
}

@media (max-width: 768px) {
	.main-news__item:nth-last-child(-n + 2) {
		display: none;
	}
}

@media (max-width: 425px) {
	.main-news__item:nth-last-child(-n + 4) {
		display: none;
	}
}

.main-news__img {
	width: 100%;
	height: 240px;
	box-shadow: 0px 24px 64px -16px rgba(167, 190, 232, 0.25);
}

.main-news__text {
	text-transform: uppercase;
	font-family: 'Source Sans 3';
	font-size: 18px;
	font-weight: 700;
	color: #4f538c;
}

.main-news__date {
	display: flex;
	align-items: center;
	gap: 5px;
	font-family: 'Source Sans 3';
	font-size: 18px;
	font-weight: 700;
	color: #ff781f;
	margin: 0;
}

.main-news__date::before {
	content: url(../../assets/img/timer.svg);
	display: flex;
	align-items: center;
}

.main-news__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Source Sans 3';
	font-size: 18px;
	font-weight: 500;
	color: #ffffff;
	background-color: #2d97c1;
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	transition: background-color 0.5s ease;
}

.main-news__btn::after {
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	border-color: #ffffff;
	border-bottom: 4px solid #ffffff;
	border-left: 4px solid #ffffff;
	margin-left: 10px;
	transform: rotate(-135deg);
}

.main-news__btn:hover {
	background-color: #1f7aab;
}

.main-news__pages {
	display: flex;
	align-items: flex-end;
	height: 51px;
	margin: 0;
}

@media (max-width: 708px) {
	.main-news__pages {
		flex-direction: column;
		gap: 20px;
	}
}

.main-news__pages-list {
	display: flex;
	margin: 0;
	gap: 20px;
}

@media (max-width: 708px) {
	.main-news__pages-list {
		align-self: baseline;
	}
}

@media (max-width: 425px) {
	.main-news__pages-list {
		align-self: center;
	}
}

.main-news__pages-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Source Sans 3';
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	width: 60px;
	height: 40px;
	border: none;
	background-color: #2d97c1;
	transition: background-color 0.5s ease;
}

@media (max-width: 925px) {
	.main-news__pages-btn:nth-last-child(-n + 2) {
		display: none;
	}
}

.main-news__pages-btn:hover {
	background-color: #53d2eb;
}

.main-news__pages span {
	width: 310px;
	height: 2px;
	background: #e5e8ec;
	margin: 0 20px;
}

.main-news__pages .next {
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid #ffffff;
	margin-right: 26px;
}

.background-figure--first-item {
	top: 500px;
}

.background-gradient__first {
	position: absolute;
	width: 2563px;
	height: 2563px;
	top: -1550px;
	left: -1000px;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(167, 190, 232, 0.3) 0%,
		rgba(167, 190, 232, 0) 100%
	);
}

.background-gradient__second {
	position: absolute;
	width: 1763px;
	height: 1763px;
	top: -600px;
	right: -1000px;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(124, 235, 255, 0.15) 0%,
		rgba(124, 235, 255, 0) 100%
	);
}

.background-pattern__item--first {
	position: absolute;
	left: 0;
	right: 0;
	top: -1150px;
	bottom: 0;
	margin: 0;
	z-index: -1;
	background: inherit;
}
