.main-cover {
	background-image: url(../../assets/img/production.png);
}

.main-production__title {
	position: relative;
	font-family: 'Geologica';
	font-size: 80px;
	font-weight: 700;
	color: #ffffff;
	height: 75px;
	top: 131px;
	margin: 0;
}

@media (max-width: 1440px) {
	.main-production__title {
		left: 140px;
	}
}

@media (max-width: 1024px) {
	.main-production__title {
		font-size: 7vw;
	}
}

@media (max-width: 768px) {
	.main-production__title {
		font-size: 40px;
	}
}

@media (max-width: 680px) {
	.main-production__title {
		font-size: 40px;
	}
}

@media (max-width: 585px) {
	.main-production__title {
		left: 80px;
		top: 80px;
	}
}

@media (max-width: 425px) {
	.main-production__title {
		font-size: 24px;
	}
}

.production-quote {
	display: flex;
	gap: 50px;
	margin: 0;
}

.production-quote__image {
	background-image: url(../../assets/img/production_quote.png);
	background-size: cover;
	min-width: 360px;
	height: 228px;
	border-left: 2px solid #4f538c;
	box-shadow: 0px 24px 64px -16px #a7bee840;
}

.info-content__box {
	box-shadow: 0px 24px 64px -16px #a7bee840;
}

.production-quote__content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #4f538c;
}

.production-quote__title {
	font-family: 'Geologica';
	font-size: 32px;
	font-weight: 800;
	line-height: 1.5;
	margin: 0;
}

.production-quote__text {
	font-family: 'Source Sans 3';
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	hyphens: auto;
	-moz-hyphens: auto;
}

.production-cover {
	background-image: url(../../assets/img/production_cover.png);
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 560px;
	margin: 150px 0;
	display: flex;
}

.production-cover__wrapper {
	display: flex;
	position: absolute;
	height: 100%;
	width: 66%;
	right: 0;
	background-color: #087fbdc2;
	backdrop-filter: blur(5px);
}

.production-cover__content {
	display: flex;
	flex-direction: column;
	margin: 0 40px;
	gap: 20px;
	justify-content: center;
	max-width: 720px;
}

.production-cover__title {
	text-transform: uppercase;
	font-family: 'Geologica';
	font-size: 32px;
	font-weight: 700;
	line-height: 1.25;
	color: #ffffff;
	margin: 0;
}

.production-cover__text {
	font-family: 'Source Sans 3';
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	color: #e5e8ec;
	margin-bottom: 60px;
}

.more-details__cover {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-self: flex-end;
	gap: 10px;
	z-index: 1;
}

.more-details__text {
	text-transform: none;
	font-family: 'Source Sans 3';
	font-size: 18px;
	font-weight: 500;
	line-height: 1.5;
	color: #ffffff;
}

.btn-cover {
	background-color: #ff781f;
	transition: background 0.3s ease;
}

.btn-cover::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 200%;
	height: 50%;
	background-color: #d44f0c;
	transform: translateX(-50%) scaleX(0) skew(432deg);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.btn-cover::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 200%;
	height: 50%;
	background-color: #d44f0c;
	transform: translateX(-50%) scaleX(0) skew(288deg);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease;
}

.more-details__cover:hover .btn-cover {
	background: #d44f0c;
}

.more-details__cover:hover .btn-cover::before {
	transform: translateX(-50%) scaleX(0.5) skew(432deg);
	opacity: 1;
}
.more-details__cover:hover .btn-cover::after {
	transform: translateX(-50%) scaleX(0.5) skew(288deg);
	opacity: 1;
}

.btn-cover .arrow.next.cover-next {
	margin-bottom: 0;
	transform: rotate(-135deg);
	width: 8px;
	height: 8px;
}

.btn-cover .arrow.next {
	border-bottom: 6px solid #ffffff;
	border-left: 6px solid #ffffff;
	margin-bottom: 5px;
	margin-right: 25px;
	transform: rotate(-45deg);
	transition: transform 0.5s ease, margin-bottom 0.3s ease;
}

.production-content {
	display: flex;
	margin-bottom: 150px;
	gap: 40px;
}

.production-aside__image {
	background-image: url(../../assets/img/production_aside.png);
	background-size: cover;
	background-position: center;
	width: 360px;
	height: 500px;
	border-left: 2px solid #ff781f;
	margin-top: 10px;
}

.production-aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	gap: 60px;
}

.production-about__content--desktop {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.production-about__content--mobile {
	display: none;
}

.production-about__list,
.production-about__list-text {
	font-family: 'Source Sans 3';
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	color: #2f2f47;
}

.production-about__list-text span {
	font-weight: 700;
	color: #2d97c1;
}

.production-about__item {
	list-style-type: disc;
	margin-left: 30px;
}

.background-figure--first-item {
	top: 35px;
}

.background-logo-item {
	top: -720px;
}

.background-pattern__item--first {
	position: absolute;
	left: 0;
	right: 0;
	top: 610px;
	bottom: 0;
	margin: 0;
	z-index: -1;
	background: inherit;
	box-shadow: 65px 0px 100px 100px rgba(195, 224, 246, 0.2),
		100px 1000px 100px 1000px rgba(195, 224, 246, 0.2) inset;
}

.background-gradient__first {
	position: absolute;
	width: 2563px;
	height: 1963px;
	top: 800px;
	left: -1891px;
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgba(167, 190, 232, 0.3) 0%,
		rgba(167, 190, 232, 0) 100%
	);
}

@media (max-width: 1024px) {
	.production-quote {
		gap: 20px;
	}

	.production-quote__image {
		min-width: 229px;
		height: 240px;
	}

	.production-cover {
		margin: 80px 0;
	}

	.production-cover__content {
		margin: 0 20px;
	}

	.production-aside__image {
		width: 229px;
		height: 400px;
	}

	.production-content {
		gap: 20px;
	}
}

@media (max-width: 768px) {
	.background-logo-item {
		top: -1550px;
	}
}

@media (max-width: 645px) {
	.production-quote {
		flex-direction: column;
	}

	.production-quote__image,
	.production-aside__image {
		margin: 0;
		width: 100%;
	}

	.production-quote__title {
		font-size: 30px;
	}

	.production-cover {
		min-height: 838px;
		background-position-x: 20%;
	}

	.production-cover__wrapper {
		height: 66%;
		bottom: 0;
		width: 100%;
	}

	.production-about__content--desktop {
		display: none;
	}

	.production-about__content--mobile {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}

	.production-content {
		margin-bottom: 170px;
	}
}

@media (max-width: 390px) {
	.production-quote__title {
		font-size: 26px;
	}

	.production-cover__text {
		font-size: 18px;
	}
}

@media (max-width: 380px) {
	.production-cover {
		min-height: 900px;
		background-position-x: 20%;
	}

	.production-cover__content {
		gap: 10px;
	}

	.production-cover__title {
		font-size: 28px;
	}

	.production-cover__text {
		margin-bottom: 0;
	}

	.info-content__box {
		padding: 20px 5px;
	}

	.production-quote__title {
		font-size: 24px;
	}

	.more-details__text {
		display: none;
	}
}
